.top-content-wrapper {
    background-image: url("../images/header/bg-mob.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 36px 0;

    .container {
        display: flex;
        justify-content: center;
    }

    &__date-icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    &__date {
        display: flex;
        align-items: center;

        &-text {
            font-weight: 700;
            font-size: 18px;
            line-height:  1.36;
            letter-spacing: 0.8px;
            margin-top: 8px;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        .logo {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .top-content-wrapper {
        background-image: url("../images/header/bg-tablet.png");
    }

    .header {
        padding: 64px 0;
        .container {
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 96px;
            height: 29px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .top-content-wrapper {
        background-image: url("../images/header/bg-desktop.png");
    }

    .header {
        padding: 64px 0;
        .logo {
            width: 113px;
            height: 34px;
        }

        &__date-icon {
            width: 46px;
            height: 46px;
            margin-right: 20px;
        }

        &__date {    
            &-text {  
                font-size: 22px;
                line-height:  1.36;
                letter-spacing: 1px;
                margin-top: 10px;
            }
        }
    }

    
}
